<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mainrecoder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.group.mainrecoder.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.group.mainrecoder.RecoderActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.group.mainrecoder.FileListActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.group.mainrecoder.RecoderActivity" />
        </activity>
        <activity
            android:name="com.group.mainrecoder.FragmentPreferences"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.group.mainrecoder.RecoderActivity" />
        </activity>
        <activity
            android:name="com.group.mainrecoder.PlayerActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.group.mainrecoder.FileListActivity" />
        </activity>
        <activity
            android:name="com.group.mainrecoder.DetailActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.group.mainrecoder.FileListActivity" />
        </activity>
    </application>

</manifest>